<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% include "navbar.html" %}
</head>

<body>
    <h1 style="text-align: center; color: #2b4f32; font-family: 'Open Sans', sans-serif;">This is My First {{ lang }}
        Project</h1>
    <h3 style="color:#40734a; margin-left: 12px;">This is the list of some important items:</h3>
    <ul>
        <!-- django templating for 'for loop' -->
        {% for item in list %}
        <li style="color:#40734a;">{{ item }}</li>
        {% endfor %}
    </ul>
</body>

</html>